<html>
  <head>
    <title> Insurance Cost Predictor </title>
  </head>
   <body>
<p> In this page I have attempted to use the mdecial cost dataset available in Kaggle to produce a Classification model using K-Neighbors Classifier with the number of neighbors as 8 and an accuracy of 84% </p>
<br>
<p>
 <a href="https://www.kaggle.com/mirichoi0218/insurance">
            Kaggle
 </a>
</p>
<br>
<p>
 <a href="https://github.com/soumyapa/predict-insurance-cost">
            My GitHub Repo for this work
 </a>
</p>
<br>
	<form action= "{{ url_for('result') }}" method="POST">         
	<p>Age <input type = "int" name = "age" /></p>
         <p>Number of children <input type = "int" name = "children" /></p>
         <p>Enter 1 for male,0 otherwise <input type = "int" name = "sex_male" /></p>
         <p>Enter 1 for smoker,0 otherwise <input type ="int" name = "smoker_yes" /></p>
         <p>Enter 1 if you are in northwest region of US ,0 otherwise <input type ="int" name = "region_northwest" /></p>
         <p>Enter 1 if your bmi is obese,0 otherwise <input type ="int" name = "bmi_Obese" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
